:root {
  --light-square: #c0c080;
  --dark-square: #808040;
  --board-inner-border-color: #404020;
  --board-outer-border-color: #404020;

  --board-inner-border-size: 1px;
  --board-outer-border-size: 5px;
}
.ChessBoard {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    border: var(--board-outer-border-size) solid var(--board-outer-border-color);
}

.ChessBoardRow {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
}

.ChessBoardSquare {
    display: block;
    border: var(--board-inner-border-size) solid var(--board-inner-border-color);
}

.ChessBoardRow:nth-child(odd)
.ChessBoardSquare:nth-child(odd),
.ChessBoardRow:nth-child(even)
.ChessBoardSquare:nth-child(even) {
    background-color: var(--light-square);
}

.ChessBoardRow:nth-child(odd)
.ChessBoardSquare:nth-child(even),
.ChessBoardRow:nth-child(even)
.ChessBoardSquare:nth-child(odd) {
    background-color: var(--dark-square);
}
